:root {
    --black: rgba(0,0,0,0.8)
}

* {
    padding: 0;
    margin: 0;
    --pink1: hsl(318 25.0% 9.6%);
    --pink2: hsl(319 32.2% 11.6%);
    --pink3: hsl(319 41.0% 16.0%);
    --pink4: hsl(320 45.4% 18.7%);
    --pink5: hsl(320 49.0% 21.1%);
    --pink6: hsl(321 53.6% 24.4%);
    --pink7: hsl(321 61.1% 29.7%);
    --pink8: hsl(322 74.9% 37.5%);
    --pink9: hsl(322 65.0% 54.5%);
    --pink10: hsl(323 72.8% 59.2%);
    --pink11: hsl(325 90.0% 66.4%);
    --pink12: hsl(322 90.0% 95.8%);
    --mauve1: hsl(246 6.0% 9.0%);
    --mauve2: hsl(240 5.1% 11.6%);
    --mauve3: hsl(241 5.0% 14.3%);
    --mauve4: hsl(242 4.9% 16.5%);
    --mauve5: hsl(243 4.9% 18.8%);
    --mauve6: hsl(244 4.9% 21.5%);
    --mauve7: hsl(245 4.9% 25.4%);
    --mauve8: hsl(247 4.8% 32.5%);
    --mauve9: hsl(252 4.0% 45.2%);
    --mauve10: hsl(247 3.4% 50.7%);
    --mauve11: hsl(253 4.0% 63.7%);
    --mauve12: hsl(256 6.0% 93.2%);
}
  
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 32px);
    color: var(--pink12);
    font-family: "Poppins", sans-serif;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1.4000000000000001px, rgba(0,0,0,0) 1.4000000000000001px);
    background-size: 28px 28px;
    background-repeat: repeat;
    margin: 16px;
}

@media only screen and (max-width: 600px) {
    #wrapper {
        align-items: flex-start;
    }
}

body {
    background-color: var(--mauve1);
    background-position: center;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 400%;
    }
    100% {
        background-size: 125%;
    }
}

.card {
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    background-color: var(--mauve3);
    width: 500px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.315);
    align-items: center;
    gap: 24px;
    padding-bottom: 2rem;
    text-align: center;
    animation: scale .25s;
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.buttons {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 8px 24px;
}


.card p {
    padding: 0px 16px;
}

.card button {
    text-align: center;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 16px;
    color: var(--pink12);
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--black);
    background-color: var(--pink9);
    font-size: 24px;
    transform: scale(1);
    transition: background-color .25s;
    transition: transform .15s;
}

.card button:hover {
    background-color: var(--pink11);
    transform: scale(1.1);
    cursor: pointer;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* needed this class to center the text on the buttons in chrome, not even sure why */
.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}






